body {
    background-image: linear-gradient(90deg, #F2F2F2, #BFBFBF);
}


#keeper{
    align-items: center;
     position: absolute;
   top: 100px;
    /* right: 400px; */
    left: 150;
    padding: 15px;


}
